
name: Docker

on:
  workflow_call:
  
jobs:
  docker:
    runs-on: 'ubuntu-latest'

    steps:
    - uses: actions/checkout@v3
    
    - name: Download a Build Artifact
      uses: actions/download-artifact@v3.0.1
      with:
        name: weather_forecast_artifact
        #path: # optional
    
    - name: Docker Setup Buildx
      uses: docker/setup-buildx-action@v2.2.1
      
    - name: Docker Login
      uses: docker/login-action@v2.1.0
      with:
        username: jplsanchez
        password: ${{ secrets.PASSWORD_DOCKER_HUB }}
        
    - name: Build and push Docker images5
      uses: docker/build-push-action@v3.2.0
      with:
        context: .
        file: ./Dockerfile
        push: true
        tags: jplsanchez/weather_forecast_ci:${{ github.ref_name }}

